<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokepicker</title>
    <link rel="stylesheet" type ="text/css" href="/styles/main.css">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>

<body>
     <h1> Poképicker </h1>
     <div class="page-divider">
          <!-- This is a function that calls the array (team) and executes a function for each of them 
               with the name (pokemon?)-->
          <% team.forEach(function(pokemon) { %>
          <!-- the function creates a card, contained and pokemon selected DIV for each array member and 
               assigns the EJS .name from the JSON-->
               <div class="card">
                    <div class="container">
                         <div class="pokemon-selected">
                              <h2 class="pokeName">
                                   <%= pokemon.name %>
                              </h2>
                         </div>
                         <div>
          <!-- Here the images are rended directly from the JSON? But how is it the same one?-->
                              <img src=<%='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
                                   pokemon.pokedex_numbers[0].entry_number + '.png' %> >
                         </div>
                    </div>
               </div>
               <% }); %>
     </div>
     <form action = "/firepokemon" method="app" class="buttons">
          <button type="submit" value="Fire!" name="type"> </button>
      </form>
</body>
     </form>
</body>
</html>